.listContainer {
    padding: 0 100px;

    .appHeading {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .searchCharacter {
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    .paginationRow {
        margin: 20px 12px;
    }
}